@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-macos-gray-900 text-white antialiased;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
